.logo {
	position: relative;
	display: inline-block;

	&::before {
		content: "";
		position: absolute;
		background-color: light-dark(#ffffff, #000000);
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		left: 0;
		top: -4px;
		filter: blur(30px);
		z-index: -1;
	}
}