/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";


// Base tokens
$primary: #3f51b5;
// $primary: #8c68cd;
$secondary: #43475d;

@import "bootstrap/scss/bootstrap";

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: normal;
}



:root,
[data-bs-theme=light] {
	body {
		background-color: light-dark(color-mix(in srgb, white 90%, var(--bs-primary)), color-mix(in srgb, black 90%, var(--bs-primary)));
	}

	.centerContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	.right {
		display: flex;
		gap: 1rem;
		justify-content: center;
		align-items: center;

	}

	.formContainer {
		// background-color: #ffffff;
		border-radius: var(--bs-border-radius-xl) !important;
		padding: 3rem !important;
		margin: 1rem !important;
		// box-shadow: var(--bs-box-shadow) !important;
		max-width: 100%;
		width: 500px;
		display: block;
		box-shadow: -0.75rem -0.75rem 1.5rem 0 rgb(255, 255, 255), 0.75rem 0.75rem 1.5rem 0 rgba(var(--bs-primary-rgb), 0.3);


		.formContainerTitle {
			margin-bottom: 2rem;
			text-align: center;
			font-weight: 700;
			color: var(--bs-link-color);
		}
	}


	.form-floating>.form-control:focus~label::after,
	.form-floating>.form-control:not(:placeholder-shown)~label::after,
	.form-floating>.form-control-plaintext~label::after,
	.form-floating>.form-select~label::after {
		background-color: transparent;
	}

	// .form-floating>.form-select~label {
	// 	transform: none;
	// }

	.required {
		color: red;
	}

	.mode-btn {
		width: 1.875rem;
		height: 1.875rem;
		border-radius: 100% !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
	}

	.invalid-feedback {
		display: initial;
	}

	.input-group {
		.form-control {

			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
				border-color: var(--bs-border-color);
			}
		}

		&.is-invalid {

			.form-control,
			.input-group-text {
				border-color: var(--bs-form-invalid-border-color) !important;
			}

			.form-label {
				color: var(--bs-form-invalid-border-color) !important;
			}

			.input-group-text {
				background-color: var(--bs-form-invalid-border-color);
			}
		}


	}

	&.ng-valid {

		~.form-label {
			color: var(--bs-link-color) !important;
		}
	}

	#toast-container {
		position: fixed !important;
		--bs-toast-spacing: 0.625rem;

		.ngx-toastr {
			box-shadow: -1.25rem 0.4375rem 3.75rem rgb(0 0 0 / 60%),
				inset 0.1875rem -0.1875rem 0.1875rem rgb(0 0 0 / 25%),
				inset -0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 25%);
			border-radius: 0.5rem;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.05);
			}
		}
	}


}


[data-bs-theme=dark] {
	--main-body-color: #050a12;

	body {
		background-color: var(--main-body-color);
	}

	.formContainer {
		box-shadow: -0.75rem -0.75rem 1.5rem 0 rgba(109, 109, 109, 0.35), 0.75rem 0.75rem 1.5rem 0 rgb(0, 0, 0);
	}

	#toast-container {
		.ngx-toastr {
			box-shadow: -1.25rem 0.4375rem 3.75rem rgb(255 255 255 / 60%),
				inset 0.1875rem -0.1875rem 0.1875rem rgba(0, 0, 0, 0.7),
				inset -0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.4);
		}
	}
}